#tabela_srt_ul{
    position: absolute;
    top: 18%;
    left: 27%;
    width: 50%;
    height: 50%;
    
    
}
#tabela_srt_li{
    position: relative;
    top: 10%;
    left: 35%;
    border: none;
    text-align: center;
    width: 30%;
    height: 8%;
    
    
}