#escolhaData{
    position: absolute;
    left: 39%;
    top: 15%;
}
#selectData{
    position: absolute;
    left: 43.5%;
    top: 24%;
}
#srt{
    position: absolute;
    top: 5%;
    text-align: center;
    line-height: 130%;
}
#ganhadores{
    position: absolute;
    left: 37%;
    top: 27.5%;
    width: 24%;
    height: 60%;
    color: rgb(252, 252, 252);
    background-color: blueviolet;
    background-color: rgba(10,23,55,0.5);
}
h2{
    color: rgb(14, 13, 13);
    text-shadow: 2px 2px 5px rgb(6, 216, 6);
}