*{
    padding: 0px;
    margin: 0px;
}
.modal{
     display: none;
    position: fixed;
    width: 60%;
    top: 10%;
    left: 10%;
    box-sizing: 30%;
    padding: 20px 50px;
    border: solid 1px #aaa;
    background-color: #03a9f4;
    box-shadow: 1px 1px 10px;
}
.modal-fechar{
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    right: 0;
    background-color: #990000;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
.modal-fechar:hover{
    transition: 0.2s;
    background-color: #bf3a3a;

}
.links:hover{
    transform: ;
}
.link-tu{
    position: absolute;
    left: 43%;
    top: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.link-tu:hover{
    background-color: steelblue;
}
.btn-comprar{
    position: relative;
    left: 40%;
    margin-top: 16%;
    margin-bottom: 10px;
    margin-right: 73%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #3d7726;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-comprar:hover{
    background-color: steelblue;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: arial;
    background: url('../png/Competencia.png')no-repeat;
    background-size: cover;
}
ul{
    list-style: none;
}
li{
    margin-right: 81%;
}
.menu_hanburger{
    width: 42px;
}
input[type="checkbox"]{
    display: none;
}
nav{
    background-color: rgba(236, 173, 79, 0.932);
    width: 250px;
    height: 70%;
    left: -350px;
    top: 0px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
ul{
    top: 70px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: black;
}
a:hover{
    background-color: white;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.logo_inicio{
    width: 100%;
    height: 80px;
    background-color:rgb(87, 70, 240);
   
}
.logo{
    position: absolute;
    top: 4px;
    width: 200px;
    left: 42%;
}
.btn_login{
    position: absolute;
    left: 83.5%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_login:hover{
    background-color: rgb(59, 228, 17);
}
.btn_cadastrar{
    position: absolute;
    left: 90%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_cadastrar:hover{
    background-color: rgb(59, 228, 17);
}
.logoCSS{
    position: relative;
    margin-left: 172px;
    margin-right: 258px;  
}
.logoCSS:hover{
    
    background-color: rgb(87, 70, 240);
}
.Ola{
    position: absolute;
    left: 85%;
    top: 19px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.sair{
    position: absolute;
    left: 94%;
    top: 50px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
.sair:hover{
    background-color: rgb(87, 70, 240);

}
.icones{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 180px;
    background: rgba(9, 7, 27, 0.3);
    box-sizing: border-box;
    box-shadow: 0 15px, 25px rgba(226, 68, 68, 0.5);
    border-radius: 10px;
}
.coluna1{
    position: absolute;
    top: 8%;
    left: 2%;
}
.coluna2{
    position: absolute;
    top: 8%;
    left: 21.5%;
}
.coluna3{
    position: absolute;
    top: 8%;
    left: 41%;
}
.coluna4{
    position: absolute;
    top: 8%;
    left: 60.5%;
}
.coluna5{
    position: absolute;
    top: 8%;
    left: 80%;
}
.fraseInicio{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="submit"]{
    position: absolute;
    top: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: rgb(59, 228, 17);
}
.fraseInicioLog{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 55%;
    transform: translate(-50%, -50%);
}
