*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: arial;
    background: url('../png/Competencia.png')no-repeat;
    background-size: cover;
}
ul{
    list-style: none;
}
.menu_hanburger{
    width: 42px;
}
#menu_ul{
    top: 12%;
    list-style:none; 
    float:left;
    background-color: rgb(59, 228, 17); 
}
#menu_ul #menu_li{
    position: relative;
    float:left; 
}
#menu_ul #menu_li a{
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}
#menu_ul #menu_li a:hover{
    background:rgb(59, 228, 17); 
    color:#fff; 
    -box-shadow: 0 3px 10px 0 #CCC; 
    text-shadow: 0px 0px 5px #fff;
    transition: 0.2s; 
}

input[type="checkbox"]{
    display: none;
}
#menu_nav{
    display: none;
}
input[type="checkbox"]:checked ~ #menu_nav{
    display: block;
}
ul{
    top: 70px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: black;
}
a:hover{
    background-color: white;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.logo_inicio{
    width: 100%;
    height: 80px;
    background-color:rgb(87, 70, 240);
}
.logo{
    position: absolute;
    top: 4px;
    width: 200px;
    left: 42%;
}
.btn_login{
    position: absolute;
    left: 83.5%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_login:hover{
    background-color: steelblue;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.9);
}
.btn_cadastrar{
    position: absolute;
    left: 90%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_cadastrar:hover{
    background-color: steelblue;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.9);
}
.logoCSS{
    position: relative;
    margin-left: 20%;
    margin-right: 29%;  
}
.logoCSS:hover{
    
    background-color: rgb(87, 70, 240);
}
p{
    position: absolute;
    left: 85%;
    top: 19px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.sair{
    position: absolute;
    left: 94%;
    top: 50px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
.sair:hover{
    background-color: rgb(87, 70, 240);

}
.icones{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 180px;
    background: rgba(9, 7, 27, 0.3);
    box-sizing: border-box;
    box-shadow: 0 15px, 25px rgba(226, 68, 68, 0.5);
    border-radius: 10px;
}
.coluna1{
    position: absolute;
    top: 8%;
    left: 2%;
}
.coluna2{
    position: absolute;
    top: 8%;
    left: 21.5%;
}
.coluna3{
    position: absolute;
    top: 8%;
    left: 41%;
}
.coluna4{
    position: absolute;
    top: 8%;
    left: 60.5%;
}
.coluna5{
    position: absolute;
    top: 8%;
    left: 80%;
}
.bicho_li{
    width: 19%;
}
.bicho_li:hover{
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(0.9);
}
.fraseInicio{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(14, 13, 13);
    
}
input[type="submit"]{
    position: absolute;
    top: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: rgb(59, 228, 17);
}
.fraseInicioLog{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 55%;
    transform: translate(-50%, -50%);
}

