*{
    padding: 0px;
    margin: 0px;
}
.modal{
    display: none;
    position: fixed;
    width: 60%;
    top: 10%;
    left: 10%;
    box-sizing: 30%;
    padding: 20px 50px;
    border: solid 1px #aaa;
    background-color: #03a9f4;
    box-shadow: 1px 1px 10px;
}
.modal-fechar{
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    top: 0;
    right: 0;
    background-color: #990000;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none; 
}
.modal-fechar:hover{
    transition: 0.2s;
    background-color: #bf3a3a;
    cursor: pointer;
}
.link-tu{
    position: absolute;
    left: 43%;
    top: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.link-tu:hover{
    background-color: steelblue;
}
.btn-comprar{
    position: relative;
    left: 40%;
    margin-top: 16%;
    margin-bottom: 10px;
    margin-right: 73%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #3d7726;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-comprar:hover{
    background-color: steelblue;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: arial;
    background: url('../png/Competencia.png')no-repeat;
    background-size: cover;
}
ul{
    list-style: none;
}
li:hover{  
    cursor: pointer;
}
.menu_hanburger{
    width: 42px;
}
#menu_ul{
    top: 12.5%;
    list-style:none; 
    float:left;
    background-color: rgb(59, 228, 17); 
}
#menu_ul #menu_li{
    position: relative;
    float:left; 
}
#menu_ul #menu_li a{
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}
#menu_ul #menu_li a:hover{
    background:rgb(59, 228, 17); 
    color:#fff; 
    -box-shadow: 0 3px 10px 0 #CCC; 
    text-shadow: 0px 0px 5px #fff; 
    transition: 0.2s;
}
input[type="checkbox"]{
    display: none;
}
#menu_nav{
    display: none;
}
input[type="checkbox"]:checked ~ #menu_nav{
    display: block;
}
ul{
    top: 70px;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: black;
}
a:hover{
    background-color: white;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
.logo_inicio{
    width: 100%;
    height: 80px;
    background-color:rgb(87, 70, 240);
   
}
.logo{
    position: absolute;
    top: 4px;
    width: 200px;
    left: 42%;
}
.btn_login{
    position: absolute;
    left: 83.5%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_login:hover{
    background-color: rgb(59, 228, 17);
}
.btn_cadastrar{
    position: absolute;
    left: 90%;
    top: 19px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn_cadastrar:hover{
    background-color: rgb(59, 228, 17);
}
.logoCSS{
    position: relative;
    margin-left: 20%;
    margin-right: 29%;  
}
.logoCSS:hover{
    
    background-color: rgb(87, 70, 240);
}
.Ola{
    position: absolute;
    left: 85%;
    top: 19px;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.sair{
    position: absolute;
    left: 94%;
    top: 50px;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
.sair:hover{
    background-color: rgb(87, 70, 240);

}
.icones{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    padding: 180px;
    background: rgba(9, 7, 27, 0.3);
    box-sizing: border-box;
    box-shadow: 0 15px, 25px rgba(226, 68, 68, 0.5);
    border-radius: 10px;
}
.coluna1{
    position: absolute;
    top: 8%;
    left: 2%;
    list-style: none;
}
.coluna2{
    position: absolute;
    top: 8%;
    left: 21.5%;
    list-style: none;
}
.coluna3{
    position: absolute;
    top: 8%;
    left: 41%;
    list-style: none;
}
.coluna4{
    position: absolute;
    top: 8%;
    left: 60.5%;
    list-style: none;
}
.coluna5{
    position: absolute;
    top: 8%;
    left: 80%;
    list-style: none;
}
.bicho_li{
    width: 19%;
}
.bicho_li:hover{
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(0.9);
}
.fraseInicio{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="submit"]{
    position: absolute;
    top: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background-color: rgb(59, 228, 17);
}
.fraseInicioLog{
    position: absolute;
    top: 160px;
    width: 480px;
    left: 55%;
    transform: translate(-50%, -50%);
}

/* janela modal admin.php*/
.window{
    display:none;
    width:40%;
    height:50%;
    position:absolute;
    left:0;
    top:0;
    background: url('../png/trevo.png')no-repeat;
    background-size: 16%;
  
    z-index:9900;
    padding:10px;
    border-radius:10px;
    background-color: rgba(10,23,55,0.5);
}
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
}
.fechar{
    position: absolute;
    display:block; 
    text-align:right;
    box-sizing: border-box;
    border-top-right-radius: 5px;
    padding: 3px 11px;
    top: 0;
    right: 0;
    background-color: #990000;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
.fechar:hover{
    transition: 0.2s;
    background-color: #bf3a3a;
    cursor: pointer;
}
#começarSorteio{
    position: absolute;
    left: 43%;
    top: 20%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 1px 15px;
    cursor: pointer;
    border-radius: 5px;
}
#começarSorteio:hover{
    border-radius: 5px;
    transform: scale(1.05);   
}
#começarSorteioJanela{
    background: #03a9f4;
}
#gerar{
    position: absolute;
    text-align:center;
    border-radius: 3px;
    padding: 4px 12px;
    top: 10%;
    right: 45%;
    background-color: #03a9f4;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
#gerar:hover{
    border-radius: 5px;
    transform: scale(1.05);   
}
#sorteados{
    position: absolute;
    color: white;
    top: 25%;
}
#save_reset{
    position: absolute;
    text-align:center;
    border-radius: 3px;
    padding: 4px 12px;
    top: 89%;
    right: 41%;
    background-color: #03a9f4;
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
}
#save_reset:hover{
    border-radius: 5px;
    transform: scale(1.05);
}
